/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local("HelveticaNeueCyr Light"), url(fonts/HelveticaNeueCyr-Light.otf);
  font-style: normal; }

@font-face {
  font-family: 'BebasNeue';
  src: local("BebasNeueBold"), url(fonts/BebasNeueBold.ttf);
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local("HelveticaNeue Medium"), url(fonts/HelveticaNeueCyr-Medium.otf);
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local("HelveticaNeue Medium"), url(fonts/HelveticaNeueCyr-Medium.otf);
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: local("HelveticaNeue Bold"), url(fonts/HelveticaNeueCyr-Bold.otf);
  font-style: normal; }

body {
  margin: 0 auto;
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  min-width: 320px;
  width: 100%;
  font-family: 'HelveticaNeueCyr',sans-serif;
  font-weight: 300; }

.wrapper {
  width: 1200px;
  margin: 0 auto; }

.menu {
  display: none;
  position: absolute;
  top: 46px;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; }

.hamb {
  width: 36px;
  height: 36px;
  float: left;
  cursor: pointer; }

.menu-toggle {
  display: block;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out; }

.menu__list {
  height: 205px;
  width: 180px;
  background-color: #000;
  opacity: 0.9;
  position: relative;
  padding: 25px 0 20px 20px; }
  .menu__list:before {
    bottom: 100%;
    left: 14%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0.9;
    border-bottom-color: #000;
    border-width: 15px 10px;
    margin-left: -20px; }
  .menu__list .menu__item {
    list-style-type: none;
    margin-bottom: 20px; }
    .menu__list .menu__item .menu_a {
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      font-size: 14px; }

header {
  width: 100%;
  height: 45px;
  background-color: #db3534;
  box-shadow: 0 1px 1px 1px #000; }
  header #hamburger {
    float: left;
    display: block;
    width: 35px;
    position: relative;
    top: 15px; }
    header #hamburger .span {
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      position: absolute;
      display: block;
      content: '';
      float: left;
      background-color: #fff;
      top: 15px; }
    header #hamburger:before {
      background-color: #fff;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      position: absolute;
      display: block;
      content: '';
      top: -5px; }
    header #hamburger:after {
      background-color: #fff;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      position: absolute;
      display: block;
      content: '';
      bottom: -10px; }
  header .right {
    float: right;
    margin-top: 7px; }
    header .right .lang {
      display: inline-block;
      width: 30px;
      height: 25px;
      background-color: #811c1b;
      text-align: center;
      box-shadow: inset 0px 2px 7px 0px #000;
      border: 1px solid #ff5553;
      border-top: 0;
      border-bottom: 2px solid #ff5553;
      padding-top: 6px;
      margin-left: 10px; }
      header .right .lang:nth-child(1) {
        margin-left: 25px; }
      header .right .lang .lang_1 {
        color: #fff;
        text-decoration: none; }
      header .right .lang a {
        text-decoration: none;
        color: #ff3f3e; }
    header .right .search {
      width: 270px;
      text-indent: 5px;
      background-image: url(../images/search.png);
      background-repeat: no-repeat;
      background-position: 235px;
      text-align: left;
      padding: 3px 0;
      margin-left: 30px; }
    header .right ::-webkit-input-placeholder {
      color: #ff3f3e; }

.cart {
  display: inline-block;
  margin-top: 3px;
  float: left; }
  .cart .cart_img {
    background: url(../images/cart.png) no-repeat;
    width: 32px;
    height: 28px;
    float: left; }
  .cart .cart_img_1 {
    background: url(../images/cart1.png) no-repeat;
    width: 54px;
    height: 47px;
    float: left; }
  .cart #cart_marg {
    margin-right: 15px;
    margin-left: 5px;
    margin-top: 0; }
  .cart .cart_wrap {
    float: right;
    margin-left: 34px;
    margin-top: -3px; }
    .cart .cart_wrap .cart_info {
      margin: 0;
      color: #fff;
      font-size: 12px; }
      .cart .cart_wrap .cart_info span {
        color: #f8e4e3; }
    .cart .cart_wrap .cart_text {
      color: #fff;
      margin-top: 0;
      margin-bottom: 1px;
      text-shadow: 0 1px 2px #000;
      font-family: 'BebasNeue',sans-serif;
      font-weight: 700;
      font-size: 24px; }

.btn {
  border-radius: 2px;
  background-color: #d83433;
  height: 55px;
  padding: 6px 15px 10px 10px;
  float: left;
  box-shadow: 0 2px 7px 0px #000;
  cursor: pointer;
  border: 1px solid #ff4544;
  border-bottom: 0;
  border-top-width: 2px;
  margin-left: 4px;
  outline: none; }

.info {
  margin-top: 30px; }
  .info .info_social {
    display: inline-block;
    width: 33%; }
    .info .info_social:first-child {
      overflow: auto;
      height: 152px; }
    .info .info_social .info_text {
      color: #fff;
      text-decoration: none;
      display: block;
      margin-left: 4px;
      font-size: 15px; }
    .info .info_social .info_line {
      color: #fff;
      text-decoration: underline;
      margin-left: 4px;
      font-size: 11px; }
    .info .info_social .info_ul {
      padding: 0;
      margin: 4px; }
      .info .info_social .info_ul .info_icon {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        display: inline-block;
        background: url(../images/twitter.png) no-repeat;
        background-size: cover; }
        .info .info_social .info_ul .info_icon:nth-child(2) {
          background: url(../images/vk.png) no-repeat;
          background-size: cover; }
        .info .info_social .info_ul .info_icon:nth-child(3) {
          background: url(../images/facebook.png) no-repeat;
          background-size: cover; }
        .info .info_social .info_ul .info_icon:nth-child(4) {
          background: url(../images/rss.png) no-repeat;
          background-size: cover; }
        .info .info_social .info_ul .info_icon:nth-child(5) {
          background: url(../images/google+.png) no-repeat;
          background-size: cover; }
        .info .info_social .info_ul .info_icon .social {
          display: block;
          height: 30px; }
    .info .info_social .info_logo {
      background: url(../images/nak.png) no-repeat;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
      box-shadow: inset 2px 3px 10px -3px; }
    .info .info_social .info_txt {
      color: rgba(88, 119, 43, 0.6);
      text-shadow: 1px 4px 6px #6d943e, 0 0 0 #000, 1px 4px 6px #6d943e;
      font-size: 48px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: 600;
      margin-top: 10px; }

.info_tel .info_phone {
  color: #fff;
  width: 200px;
  float: right;
  margin: 0;
  font-size: 17px;
  margin-bottom: 10px; }
  .info_tel .info_phone span {
    font-weight: 600;
    font-size: 22px; }
  .info_tel .info_phone .col {
    font-size: 20px; }

.info_tel .phone_ua {
  font-size: 19px; }

.info_tel .color {
  color: #000;
  font-size: 15px;
  width: 178px; }

.info_tel .color_ua {
  font-size: 17px; }

.info_tel .cap {
  text-transform: uppercase;
  float: right;
  color: #fff;
  clear: right;
  font-weight: 700;
  font-size: 26px;
  height: 80px; }
  .info_tel .cap span {
    font-size: 36px; }

.info_tel .btn_ua {
  font-size: 30px;
  height: 73px;
  padding-top: 0;
  width: 200px; }
  .info_tel .btn_ua .span_ua {
    font-size: 22px; }

.info_tel .cap_ua {
  height: 90px; }

.info_tel .btn_2 {
  font-size: 32px; }
  .info_tel .btn_2 .span {
    font-size: 25px; }

.href {
  display: block;
  height: 100%; }

.doors {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-top: 60px;
  margin-bottom: 75px; }
  .doors .doors_item {
    cursor: pointer;
    display: inline-block; }
    .doors .doors_item .doors_img {
      background: url(../images/door1.png) no-repeat;
      height: 285px;
      width: 131px;
      background-size: cover;
      background-position: center; }
    .doors .doors_item #door2 {
      background: url(../images/door2.png) no-repeat;
      background-size: cover;
      background-position: center; }
    .doors .doors_item #door3 {
      background: url(../images/door3.png) no-repeat;
      background-size: cover;
      background-position: center; }
    .doors .doors_item #door4 {
      background: url(../images/door4.png) no-repeat;
      background-size: cover;
      background-position: center; }
    .doors .doors_item #door5 {
      background: url(../images/door5.png) no-repeat;
      background-size: cover;
      background-position: center; }
    .doors .doors_item .doors_text {
      text-transform: uppercase;
      font-size: 63px;
      margin-top: 15px;
      text-align: center;
      color: rgba(92, 130, 45, 0.8);
      text-shadow: 1px 4px 6px #fbf8f8, 0 0 0 #000, 1px 4px 6px #fbf8f8;
      font-family: 'BebasNeue',sans-serif;
      font-weight: 700;
      margin-bottom: 5px; }
    .doors .doors_item .font {
      font-size: 23px;
      margin: 0; }

.nav {
  padding: 0;
  width: 105px;
  margin: 0 auto;
  margin-bottom: 10px; }
  .nav .nav_item {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d3d1d1;
    box-shadow: inset 1px 2px 4px -3px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer; }
    .nav .nav_item:last-child {
      margin-right: 0; }
  .nav .nav_item-check {
    background-image: -webkit-linear-gradient(top, #F87C7C 0%, #C72F2E 60%);
    background-image: linear-gradient(to bottom, #F87C7C 0%, #C72F2E 60%);
    box-shadow: 0px 2px 3px -1px; }

.slider {
  width: 100%;
  border: 10px solid #fff;
  box-shadow: 1px 3px 14px 1px;
  height: 325px;
  position: relative; }
  .slider #slider_item {
    position: absolute;
    background-size: cover;
    background-position: center;
    margin: 0px auto;
    width: 100%;
    height: 325px;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .slider .btn_1 {
    position: absolute;
    width: 70px;
    height: 325px;
    font: 18pt arial,tahoma,sans-serif;
    text-align: center;
    background-color: #fff;
    opacity: 0;
    border: none;
    outline: none;
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out; }
    .slider .btn_1:hover {
      opacity: 0.5; }
  .slider .left {
    left: 0px;
    z-index: 1; }
  .slider .right_1 {
    right: 0px; }

h3 {
  text-align: center;
  color: rgba(92, 130, 45, 0.8);
  text-shadow: 1px 4px 6px #fbf8f8, 0 0 0 #000, 1px 4px 6px #fbf8f8;
  font-family: 'BebasNeue',sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin-top: 95px;
  margin-bottom: 50px; }

.text {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-bottom: 95px; }
  .text .text_nav {
    display: inline-block; }
    .text .text_nav .nav_item_1 {
      padding: 0;
      list-style-type: none;
      margin: 0; }
      .text .text_nav .nav_item_1 .nav_info {
        margin-bottom: 20px; }
      .text .text_nav .nav_item_1 .nav_info a {
        color: #418b40;
        text-transform: uppercase;
        text-decoration: none; }
        .text .text_nav .nav_item_1 .nav_info a:hover {
          color: #d76565; }
  .text .text_mid {
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 1.8em, rgba(0, 0, 0, 0.05) 1.9em) 0 0;
    background: linear-gradient(rgba(255, 255, 255, 0) 1.8em, rgba(0, 0, 0, 0.05) 1.9em) 0 0;
    background-size: 1em 2em;
    background-color: #f8f8f8;
    width: 771px;
    height: 849px;
    font-size: 12px; }
    .text .text_mid .text_txt {
      text-indent: 15px;
      line-height: 23px;
      font-size: 17px;
      margin: 27px 15px 23px 20px; }
      .text .text_mid .text_txt:first-child {
        margin-top: 28px; }
      .text .text_mid .text_txt:nth-child(3) {
        margin-bottom: 33px; }
      .text .text_mid .text_txt:nth-child(4) {
        margin-bottom: 32px; }

.text_block {
  background: -webkit-repeating-linear-gradient(135deg, #dc3534, #dc3534 12px, #e56463 10px, #e56463 24px);
  background: repeating-linear-gradient(-45deg, #dc3534, #dc3534 12px, #e56463 10px, #e56463 24px);
  font-family: 'BebasNeue';
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  width: 180px;
  height: 110px;
  padding-top: 10px;
  clear: both;
  font-size: 42px;
  float: right;
  margin-top: 45px;
  box-shadow: 0 2px 7px 0px #000;
  text-align: center;
  margin-bottom: 40px;
  cursor: pointer; }
  .text_block span {
    font-size: 50px; }

.block_ua {
  font-size: 49px;
  height: 115px; }

footer {
  background-color: rgba(202, 46, 47, 0.85);
  box-shadow: inset 0 17px 15px  -15px #000 , inset 0 -15px 7px  -15px #000;
  width: 100%;
  height: 45px;
  margin-bottom: 50px;
  border-bottom: 1px solid #88c73d; }
  footer .foot {
    font-size: 18px;
    color: #fff;
    opacity: 0.5;
    margin-top: 15px;
    float: left; }
  footer .footer {
    float: right;
    margin-top: 15px; }
    footer .footer .footer_item {
      display: inline-block;
      margin-left: 50px; }
      footer .footer .footer_item a {
        color: #fff;
        text-decoration: none; }
